<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ちょいワーク- マイページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_memo.css') }}">
</head>
<body>
    <div id="my_page" class="container">
        <h1 class="title">マイページ</h1>
       
        <a href="{{ url_for('index') }}" class="button">アカウント情報</a>
        
        <a href="{{ url_for('index') }}" class="button">履歴</a>

        <a href="{{ url_for('index') }}" class="button">その他</a>

        <a href="{{ url_for('index') }}" class="button">仕事リストに戻る</a>
    </div>
</body>
</html>