<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ちょいワーク</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        <h1>ちょいワーク</h1>
        <p class="sub-title">〜 ちょいっと稼ごう！ 〜</p>

        <a href="{{ url_for('my_page') }}" class="button">マイページへ</a>

        <div class="works">
            <h2 class="title-border">仕事リスト</h2>
 
            <ul>
                {% for work in works %}
                <li class="card">
                    <a href="{{ url_for('view_work', work_id=work.id) }}">{{ work.title }}</a>
                    <p class="small">日時: {{ work.created }}</p>
                    <p>時給：{{ work.hourly_wage }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>