<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ちょいワーク- {{ work.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_memo.css') }}">
</head>
<body>
    <div id="view_work" class="container">
        <h1 class="title-border">{{ work.title }}</h1>

        <div class="contents">
            <p>{{ work.content }}</p>
            <p class="small">日時: {{ work.created }}</p>
            <p>時給：{{ work.hourly_wage }}</p>
            <p>募集人数:{{ work.people }}</p>    
        </div>

        <a href="{{ url_for('index') }}" class="button">仕事リストに戻る</a>

        <a href="{{ url_for('apply') }}" class="button">申し込む</a>
    </div>
</body>
</html>